<div class="employeeAddedPopup" id="employeeAddedPopup">
    <div class="addpop">
        <i class="fa-solid fa-clipboard-check"></i>
        <span>Employee added succesfullyy !</span>
    </div>
</div>