<div class="employeeDeletedPopup" id="employeeDeletedPopup">
    <div class="deletepop">
        <i class="fa-solid fa-trash"></i>
        <span>Employee Deleted succesfullyy !</span>
    </div>
</div>