<div class="employeeEditedPopup" id="employeeEditedPopup">
    <div class="editpop">
        <i class="fa-solid fa-pen-to-square"></i>
        <span>Employee Edited succesfullyy !</span>
    </div>
</div>