<table>
    <thead id="tableHead">
        <tr class="tr my-4">
            <th>
                <p>SI.NO <i class="fa-solid fa-chevron-down"></i></p>
            </th>
            <th>
                <p>Name <i class="fa-solid fa-chevron-down"></i></p>
            </th>

            <th>
                <p>Email <i class="fa-solid fa-chevron-down"></i></p>
            </th>
            <th>
                <p>Phone <i class="fa-solid fa-chevron-down"></i></p>
            </th>
            <th>
                <p>DOB <i class="fa-solid fa-chevron-down"></i></p>
            </th>
            <th>
                <p>Gender <i class="fa-solid fa-chevron-down"></i></p>
            </th>
            <th>
                <p>Country <i class="fa-solid fa-chevron-down"></i></p>
            </th>



        </tr>
    </thead>

    <tbody class="tableBody" id="tableBody">


        <tr>
            <td>#01</td>
            <td>
                <!-- <div class="employeeImg"><img src="/Employee_management/resourse/Rectangle 348.png" alt="">Mr. Michael
                    Johnson
                </div> -->
            </td>
            <td>davidbrown@example.com</td>
            <td>2788945521</td>
            <td>Female</td>
            <td>12 May 1990</td>
            <td>Japan</td>
            <td class="active">
                <button type="button" class="tableDropdown"><i
                        class="fa-solid fa-ellipsis"></i></button>
                <div id="dropContentRow1" class="dropContent">
                    <ul class="dropItems">

                        <li><a href="#" id="viewButton"><i class="fa-solid fa-eye"></i>View
                                Detals</a></li>
                        <li><a href="#" id="editButton"><i class="fa-solid fa-pen"></i> Edit</a>
                        </li>
                        <li><a href="#" id="deleteEmployeeButton"><i
                                    class="fa-solid fa-trash-can"></i>Delete</a></li>
                    </ul>
                </div>
            </td>

        </tr>



    </tbody>
</table>